ul li
{
    list-style-type:none;
}
nav
{
    box-shadow:0 5px 5px 3px rgb(202, 201, 201);
}
nav a:hover
{
    background-color: rgb(255, 145, 0);
}

a
{
    color: inherit;
    text-decoration: none;
}
a:hover
{
    background-color: rgb(255, 145, 0);
}